body {
	background-color: #211C2C;
}
.card-container {
	display: flex;
	justify-content: center;
	gap: 21px;
}
.card {
	width: 240px;
	height: 330px;
	border-radius: 10px;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom:20px;
}
p {
	margin: 0;
	padding: 0;
}
.card-title {
	font-size: 18px;
	color: #DAD8DB;
}
.card-title, .card-body, .current-price, button {
	font-family: Arial, Helvetica, sans-serif;
}
.card-body {
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-time {
	font-size: 26px;
	padding-bottom: 14px;
	color: #DAD8DB;
}
.card-time, .card-discount, .current-price, .button {
	font-weight: bold;
}
.card-discount {
	background-image: linear-gradient(to right, #F94D7A, #E93EF6);
	color: transparent;
	background-clip: text;
}
.card-price {
	display: flex;
	align-items: baseline;
}
.current-price {
	background-image: linear-gradient(to right, #F94D7A, #E93EF6);
	color: transparent;
	background-clip: text;
	font-size: 66px;
}
.old-price {
	font-size: 34px;
	color: gray;
	text-decoration: line-through;
}
.card-footer {
	width: 100%;
	display: flex;
	justify-content: center;
}
button {
width: 85%;
height: 41px;
border-radius: 6px;
border: none;
font-size: 13px;
background: linear-gradient(to right, #9745FB, #AA09F1);
color: white;
cursor: pointer;
}
